body {
    background-color: #7B2CAF;
    font-family: 'Roboto', sans-serif;


}

.working {
    /*padding-top: 5%;*/
    padding-bottom: 5%;
    position: relative;
    text-align: center;

}

.working img {
    display: block;
    width: 100%;
    height: 500px;
    background-size: 100% auto;
    overflow: hidden;
    object-fit: cover;
    position: relative;
    /* allows centering based on the imgae */
    filter: blur(3px);
}

.working-text {
    position: absolute;
    left: 0;
    right: 0;
    top: 13em;
    color: #E36D37;
    font-family: 'Roboto', sans-serif;

}

.get-started a {
    font: bold 20px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 10px 10px 10px 10px;
    border-top: 2px;
    border-right: 2px;
    border-bottom: 2px;
    border-left: 2px;
    align-content: center;
    border-radius: 30px;
    width: 10rem;
    position: absolute;
    top: 65%;
    left: 43%;
}

.get-started a:hover {
    background-color: #7B2CAF;
}

/* Start of next section */
.informative {
    display: flex;
    color: white;
    padding-top: 5%;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 10%;

}

.formation {
    justify-content: space-between;
    padding-right: 7.5%;
}

#company-formation {
    font-size: 32px;
    padding-bottom: 10px;

}

#company-formation-text {
    font-size: 20px;
    line-height: 1.5;
}

.services {}

#accounting-services {
    font-size: 32px;
    padding-bottom: 10px;
}

#accounting-services-text {
    font-size: 20px;
    line-height: 1.5;
}

.need {
    padding-left: 7.5%;
}

#what-need {
    font-size: 32px;
    padding-bottom: 10px;
}

#what-need-text {
    font-size: 20px;
    line-height: 1.5;
}
