#people_head{
    font-size: 30px;
    text-align: center;
    padding-top: 30px;
    font-family: 'Roboto', sans-serif;

}

.image-list-small {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    text-align: center;
    max-width: 850px;
    padding-top: 40px;
}

.image-list-small li {
    display: inline-block;
    width: 181px;
    margin: 0 12px 30px;
}

/* Photos */

.image-list-small li > img {
    display: block;
    height: 150px;
    width: 200px;
    object-fit: cover;
    border: 4px solid #ffffff;
    outline: 1px solid #d0d0d0;
    box-shadow: 0 2px 1px #DDD;
}

.image-list-small .name {
    margin-top: 13px;
}

/* Captions */
.image-list-small .name h3 {
    font-size: 12px;
    margin: 0 0 3px 0;
}

.image-list-small .name h3 a {
    color: black;
    text-decoration: none;
}

.image-list-small .name .title {
    color: #717171;
    font-size: 11px;
    margin: 0;
}
